<!-- <p>{{ date | date }}</p>
<p>{{ date | date: "dd.mm.yyyy" }}</p>
<p>{{ date | date: "yyyy.mm.dd HH.mm" }}</p>
<p>{{ date | date: "dd.mm.yyyy HH.mm" }}</p>
<p>{{ date | date: "dd.mm.yyyy HH.mm.ss" }}</p>
<p>{{ date | date: "dd.mm.yyyy hh.mm.ss" }}</p>
<p>{{ dateNow }}</p>
<hr />
<p>{{ pi | number: "10.1-2" }}</p>
<p>{{ money | currency: "RUB":"code" }}</p>
<p>{{ money | currency: "EUR":"symbol" }}</p>
<p>{{ money | currency: "RUB":"symbol-narrow" }}</p>
<p>{{ money | currency: "RUB":"sghgh" }}</p>
<p>{{ money | currency: "EUR":"symbol":"10.1-2" }}</p>
<p>{{ money | currency: "RUB":"rehgsdg" | uppercase }}</p>
<p>{{ money | currency: "RUB":"rehgsdg" | slice: 5:11 }}</p>
<hr /> -->
<!-- <p>
  {{
    "+7" +
      "(" +
      (phones[0] | slice: 0:3) +
      ")" +
      (phones[0] | slice: 3:6) +
      "-" +
      (phones[0] | slice: 6:8) +
      "-" +
      (phones[0] | slice: 8:10)
  }}
</p> -->
<p>{{ phones | phone }}</p>

<p>{{ getPhoneNumber }}</p>

<!-- <p>{{ phone | async }}</p> -->
